/* POPUPLAR MOVIES */
.popular-movies{
  grid-column: 6/7;
  grid-row:1/4;
  background-color: #1d1e36;
  border-radius: 1rem;
  position: relative;

}
.heading{
  padding: 10px;
}
.movies-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.movies-card{
  height: 180px;
  display: flex;
  position: relative;
  padding: 0.5rem;
  transition: linear 0.5s;
}

.movies-card:hover{
  transform: scale(1.1,1.1);
}
.movies-card:hover h5{
  color: #8933bb;
}
.movies-card:hover .movie-image{
box-shadow: lightgray 2px 2px 2px 0px;
}
.movie-image{
  max-height: 100%;
  width: 70px;
  background-size: cover;
  background-position: center;
  margin:10px;
  border-radius: 0.5rem;
}
.movie-image.p-image-1{
  background-image: url('assets/Popular/black-adam.jpg');
}
.movie-image.p-image-2{
  background-image: url('assets/Popular/umma.jpg');
}
.movie-image.f-image-1{
  background-image: url('assets/Favorite/lightyear.jpg');
}
.movie-image.f-image-2{
  background-image: url('assets/Favorite/uncharted.jpg');
}
.movie-content {
    /* margin: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    position: relative;
}
.movie-content h5{
  font-size: 0.75rem;
}
.movie-content p{
  font-size: 0.5rem;
  color: gray;
}
.movie-rating{
  display: flex;
  justify-content: start;
  align-items: center;
}
.movie-rating p{
  color: white;
  padding-left: 10px;
}

/* FAVORITE MOVIES */
.favorite-movies {
  grid-column: 6/7;
  grid-row: 4/8;
   background-color: #1d1e36;
  border-radius: 1rem;
  position: relative;

}
/* SEE MORE */
.see-more{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.see-more button{
  background-color: #8933bb;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 90%;
  border: none;
}
.see-more button:hover{
  background-color: white;
  color: #8933bb;
}
@media screen and (max-width:900px){
  .movies-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .movie-image{
     height: 100px;
    max-width: 100%;
  }
  .movie-content
  {
    align-items: center;
  }
  .movies-content p{
    text-align: center;
  }
}
