
@import 'navbar.css';
@import 'left-sidebar.css';
@import 'right-sidebar.css';


*{
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  color: white;
}

body{
  background-color: #151433;
  background-image: linear-gradient(to bottom right, #151433,#29124e);
}

/* MAIN GRID */

.main-grid-container{
  padding: 20px;
}

.main-grid-container{
  display: grid;
  grid-template-columns: 20% 14% 13% 14% 14% 20% ;
  grid-template-rows: auto auto auto auto auto auto auto ;
  gap: 10px;
  padding: 1rem;
  position: relative;
  padding-bottom: 0;
  position: relative;
}

/* VIDEO */
.trailer{
  width: 100%;
  grid-column: 2/6;
  grid-row: 1/4;
  border-radius: 1rem;
  position: relative;
  border-radius: 1rem;
}
.trailer video{
  border-radius: 1rem;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  height: 80%;
  position: absolute;
  z-index: 1;
  top: 3%;
  left: 43%;
}
.btn button{
  background-color: red;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}
.movie{
  padding-inline: 5px;
  position: absolute;
  z-index: 1;
  top: 75%;
  left: 1%;
}
.tag{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rating-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282834b9;
  border-radius: 0.5rem;
  margin-top: 5px;
}
.rating-tag p{
  /* padding: 5px; */
  padding-block:4px;
  padding-inline:8px;

  font-size: 0.5rem;
} 
.rating-tag svg{
  padding-left: 5px;
}


/* RECENTLY WATCHED */
.recently-watched{
  grid-row: 4/6;
  grid-column: 2/6;
  position: relative;
   background-color: #1d1e36;
  border-radius: 1rem;
}
.main-card.f-card-1{
  background-image: url('assets/Recently-Watched/the-bad-guys.jpg');
}
.main-card.f-card-2{
  background-image: url('assets/Recently-Watched/morbius.jpg');
}
.main-card.f-card-3{
  background-image: url('assets/Recently-Watched/hotel-transylvania.jpg');
}
.main-card.f-card-4{
  background-image: url('assets/Recently-Watched/jackass-forever.jpg');
}
.main-card.f-card-5{
  background-image: url('assets/Recently-Watched/the-lost-city.jpg');
}

/* BEST ARTIST */

.best-artist {
  grid-row: 6/7;
  grid-column: 2/6;
   background-color: #1d1e36;
  border-radius: 1rem;
}
.main-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  position: relative;
}
.main-card {
  background-position: center;
  background-size: cover;
  height: 100%; 
  width: 100%;
  border-radius: 0.5rem;
}
.main-card.b-card-1 {
  background-image: url('assets/Artists/rock-johnson.jpg');
}

.main-card.b-card-2 {
  background-image: url('assets/Artists/tom-hiddleston.jpg');
}

.main-card.b-card-3 {
  background-image: url('assets/Artists/chris-evans.jpg');
}

.main-card.b-card-4 {
  background-image: url('assets/Artists/rdj.jpg');
}

.main-card.b-card-5 {
  background-image: url('assets/Artists/tyrese-gibson.jpg');
}

/* COMMON STYLES */
.card-container{
  height: 200px;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  transition: linear 0.5s;
}
.card-container:hover{
transform: scale(1.1,1.1);
}
.card-container:hover .main-card{
box-shadow: lightgray 2px 2px 2px 0px;
}
.card-title {
    text-align: center;
    font-size: 0.75rem;
    color: white;
    margin-top: 5px;

   display: block;
   text-overflow: ellipsis;
   white-space: nowrap;
   word-wrap: break-word;
   overflow: hidden;
}
.card-container:hover .card-title{
  color: #8933bb;
  overflow: visible;
   white-space: wrap;

}

.see-all a{
  color:#8933bb;
  text-decoration: none;
}
.see-all:hover a{
color: white;
}

.rating-tags{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #282834b9;
  border-radius: 1rem;
  width: 30%;
  position: absolute;
  top: 5%;
  left: 5%;
  padding-block:6px;
  padding-inline:8px;
}
.rating-tags svg{
  padding-right: 4px;
}
.rating-tags p{
  font-size: 0.5rem;
}


